@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(241, 233, 233)
    rgb(var(--background-start-rgb));
}


.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.fixed {
    position: fixed;
}
.w-full {
    width: 100%;
}
.z-20 {
    z-index: 20;
}
.top-0 {
    top: 0px;
}
.left-0 {
    left: 0px;
}
.border-b {
    border-bottom-width: 1px;
}
.max-w-screen-xl {
    max-width: 1280px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.p-4 {
    padding: 1rem/* 16px */;
}

.cursor-pointer {
    cursor: pointer;
}
.self-center {
    align-self: center;
}
.text-2xl {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
}
.font-semibold {
    font-weight: 600;
}
.whitespace-nowrap {
    white-space: nowrap;
}

@media (min-width: 768px) {
    .md\:order-2 {
        order: 2;
    }
}
.gap-2 {
    gap: 0.5rem/* 8px */;
}
@media (min-width: 768px) {
    .md\:flex {
        display: flex;
    }
}
@media (min-width: 768px) {
    .md\:w-auto {
        width: auto;
    }
}

.flex-col {
    flex-direction: column;
}

@media (min-width: 768px) {
    .md\:p-0 {
        padding: 0px;
    }
}

.font-medium {
    font-weight: 500;
}

.border {
    border-width: 1px;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.rounded-lg {
    border-radius: 0.5rem/* 8px */;
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .md\:space-x-8 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(2rem/* 32px */ * var(--tw-space-x-reverse));
        margin-left: calc(2rem/* 32px */ * calc(1 - var(--tw-space-x-reverse)));
    }
}
@media (min-width: 768px) {
    .md\:mt-0 {
        margin-top: 0px;
    }
}
@media (min-width: 768px) {
    .md\:border-0 {
        border-width: 0px;
    }
}